.div9 {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    text-align: center;
}

span {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}
.sp0 {
    background-color: aqua;
}
.sp1 {
    background-color: blue;
}
.sp2 {
    background-color: blueviolet;
}
.sp3 {
    background-color: brown;
}
.sp4 {
    background-color: red;
}
.sp5 {
    background-color: white;
}
.sp6 {
    background-color: yellow;
}